/* Esri Developer & Technology Summit Demo Template */
/* Demo template supporting styles */

html,
body {
  margin: 0;
  height: 100%;
}

calcite-menu-item {
  --calcite-menu-background-color: var(--calcite-color-background);
}

calcite-navigation-logo {
  --calcite-navigation-logo-text-color: var(--calcite-color-brand);
}

calcite-shell-panel[slot="panel-end"] calcite-flow {
  border-top: 0;
}

/* Esri Developer & Technology Summit Demo Template */
/* Custom styles below */
